 
    
    
  

 
  
  

<div class="modal login-modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">OTP Validation</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <form  [formGroup]="submitOTPLogin">
                                <div class="form-group margin-bottom-20">
                                    <label for="otp" class="col-form-label">Please enter OTP sent to your number {{userMobile}}</label>
                                    <input class="form-control col-md-12" type="text" [(ngModel)]="typedOTP"  id=""  formControlName="userOTP">
                                </div>
                                <div class="validation-errors text-danger">
                                    <div *ngFor="let validation of validation_messages.userOTP">
                                      <div col-12 class="error-message"
                                        *ngIf="submitOTPLogin.get('userOTP').hasError(validation.type) && (submitOTPLogin.get('userOTP').dirty || submitOTPLogin.get('userOTP').touched)">
                                        {{ validation.message }}
                                      </div>
                                    </div>
                                  </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="btn-wrap">
                                <button type="reset" class="btn btn-gry btn-margin-5"  (click)="onOTPLogout()" >Cancel</button>
                                <button type="button" class="btn btn-gry btn-margin-5" (click)="onOTPResend()" >Resend OTP</button>
                                <button type="button" class="btn btn-success btn-margin-5" (click)="onOTPSubmit()" >Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
