<html lang="en">
<!-- begin::Head -->

<head>
  <meta charset="utf-8">

  <title>Wthaq | Admin Account Management</title>
  <meta name="description" content="Updates and statistics">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--begin::Global Theme Styles(used by all pages) -->
  <link href="../../assets/css/style.bundle.css" rel="stylesheet" type="text/css">
  <!--end::Global Theme Styles -->
  <!--begin::Layout Skins(used by all pages) -->
  <link href="../../assets/css/custom-style.css" rel="stylesheet" type="text/css">
  <!--end::Layout Skins -->
</head>
<!-- end::Head -->

<!-- begin::Body -->

<body
  class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed">

  <div class="background-container">
    <div class="kt-grid kt-grid--hor kt-grid--root">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
          <!--===========================
                        Start Content
                        ============================-->
          <div class="pt-0 kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
            <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
              <!--New Design Here-->
              <div class="row">
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 left-panel-menu-wrap w-20 fixed-wrap">
                  <div class="logo-wrap">
                    <a routerLink="/">
                      <img src="../../assets/images/wethaq.png" alt="logo">
                    </a>

                  </div>
                  <ul class="vertical-menu">
                    <li><a routerLink="/dashboard" class="active"><span class="db-icon"></span>Dashboard</a></li>
                    <li><a routerLink="/requestLgIssuance"><span class="lg-icon"></span>LG issuance</a></li>
                  </ul>
                </div>
                <div class="col-12 col-sm-9 col-md-9 col-lg-9 padding-null scroll-wrap">
                  <!-- <div class="white-area">
                    <div class="user-area">
                      <span class="user-img-wrap"><img src="../../assets/images/user.png" alt="image"
                          class="user-img"></span><span>Abdulla Ahmad</span>
                    </div>
                    <div class="clear"></div>
                  </div> -->
                  <div class="white-area">
                    <div class="top-dropdown">
                      <div class="user-area top-dropbtn">
                        <span class="user-img-wrap"><img src="../../assets/images/user.png" alt="image"
                            class="user-img"></span><span>{{userName}}
                        </span>
                      </div>
                      <div class="top-dropdown-content">
                        <a href="javascript:;">
                          <span class="user-img-wrap"><img src="../../assets/images/settings.png" alt="image"
                              class="user-img"></span><span>Account
                          </span>
                        </a>
                        <button type="button"  (click)="logout()" class="dashboard-top-btn">
                          <span class="user-img-wrap"><img src="../../assets/images/logout.png" alt="image"
                              class="user-img"/>
                            </span><span>Logout
                          </span>
                          
                        </button>

                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="grey-bg">
                    <section class="design-process-section" id="process-tab">
                      <div>
                        <div>
                          <div>
                            <div class="tabadul-menu-list">
                              <ul>
                                <li><button (click)="goToPendingReqTabPri()"
                                    [ngClass]="{'active': isPendingClicked}">Pending Request</button></li>
                                <!-- <li><a href="private-entity-lg-list.html">LG List</a></li> -->
                                <li><button (click)="goToLGListTabPri()" [ngClass]="{'active': isLGClicked}">LG
                                    List</button></li>

                              </ul>
                            </div>
                            <!-- Tab panes -->
                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane active" id="discover">
                                <div class="design-process-content">
                                  <form>

                                    <div class="row" *ngIf="isOpenPendingList">
                                      <div class="col-sm-12">
                                        <div class="kt-portlet">
                                          <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                              <h3 class="kt-portlet__head-title">
                                                Pending request
                                              </h3>
                                            </div>
                                          </div>
                                          <!--begin::Form-->
                                          <div class="kt-form kt-form--label-right">
                                            <div class="kt-portlet__body">
                                              <div class="container">
                                                <div class="row" *ngIf="isOpenPendingList">
                                                  <div class="col-12">
                                                    <!-- <p-fieldset legend="Search Result" [toggleable]="false"> -->
                                                    <p-table #dt [value]="pendingList" [columns]="cols"
                                                      [paginator]="true" [rows]="10">
                                                      <ng-template pTemplate="caption">
                                                        <!-- <div style="text-align: left">
                                                          <input type="text" pInputText size="50" placeholder="Search"
                                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                            style="width:auto"
                                                            class="dashboard-search-box form-control">
                                                          <div class="srch-icon-dashboard-wrap">
                                                            <div class="srch-icon-dashboard "></div>
                                                            <i class="fa fa-search input-group-text">Search</i>
                                                          </div>
                                                        </div> -->

                                                        <div class="form-group margin-bottom-10">
                                                          <label for="search" class="col-form-label srch-txt">Search</label>
                                                          <div class="input-group search-wrap">
                                                            <input class="form-control" pInputText size="50"
                                                            (input)="dt.filterGlobal($event.target.value, 'contains')">
                                                            <span class="input-group-append bg-white border-left-0">
                                                              <button class="input-group-text" type="submit">
                                                                <div class="srch-image-txt">
                                                                  <img src="../../assets/images/magnifying-glass.png"
                                                                    class="search-icon" alt="search-icon">Search
                                                                </div>
                                                              </button>
                                                            </span>
                                                          </div>

                                                        </div>
                                                      </ng-template>
                                                      <ng-template pTemplate="header" let-columns>
                                                        <tr>
                                                          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                                            {{col.header}}
                                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                                          </th>
                                                        </tr>

                                                        <!-- <tr>
                                                          <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                                              <input *ngSwitchCase="'lGType'" pInputText type="text" appendTo="body" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                                          </th>
                                                      </tr> -->
                                                      </ng-template>
                                                      <ng-template pTemplate="body" let-rowData let-plist>
                                                        <tr (click)="RowSelected(plist)">
                                                          <!-- <td>{{plist.request_date | date: 'dd/MM/yyyy'}}</td> -->
                                                          <td>{{plist.request_date}}</td>
                                                          <td>{{plist.contract_value}}</td>
                                                          <td>{{plist.lg_type}}</td>
                                                          <td>{{plist.beneficiary_name}}</td>
                                                          <td>{{plist.project_name}}</td>
                                                          <td>{{plist.bank_name}}</td>

                                                        </tr>
                                                      </ng-template>
                                                    </p-table>
                                                    <!-- </p-fieldset> -->
                                                  </div>

                                                </div>
                                              </div>

                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="row" *ngIf="isOpenLGList">
                                      <div class="col-sm-12">
                                        <div class="kt-portlet">
                                          <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                              <h3 class="kt-portlet__head-title">
                                                LG list
                                              </h3>
                                            </div>
                                          </div>
                                          <!--begin::Form-->
                                          <div class="kt-form kt-form--label-right">
                                            <div class="kt-portlet__body">
                                              <div class="container">
                                                <div class="row">
                                                  <div class="col-md-12">
                                                    <div class="form-group margin-bottom-10">
                                                      <label for="search" class="col-form-label">Search</label>
                                                      <div class="input-group search-wrap">
                                                        <input class="form-control">
                                                        <span class="input-group-append bg-white border-left-0">
                                                          <button class="input-group-text" type="submit">
                                                            <div class="srch-image-txt">
                                                              <img src="../../assets/images/magnifying-glass.png"
                                                                class="search-icon" alt="search-icon">Search
                                                            </div>
                                                          </button>
                                                        </span>
                                                      </div>

                                                    </div>
                                                  </div>
                                                  <div class="col-md-12 margin-top-20">
                                                    <div class="kt-portlet">
                                                      <div class="new-blue-table">
                                                        <div class="table-responsive">
                                                          <table class="table table-bordered table-striped">
                                                            <thead>
                                                              <tr>
                                                                <th class="table4">#</th>
                                                                <th class="table13">LG no</th>
                                                                <th class="table13">LG amount</th>
                                                                <th class="table16">LG issue date</th>
                                                                <th class="table15">LG end date</th>
                                                                <th class="table14">Beneficiary name</th>
                                                                <th class="table14">Project name</th>
                                                                <th class="table16">Bank name</th>

                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr>
                                                                <td>1</td>
                                                                <td>1345678923</td>
                                                                <td>1000 SAR</td>
                                                                <td>19/12/2019</td>
                                                                <td>15/04/2020</td>
                                                                <td>Civil service dept. Riyadh</td>
                                                                <td>Pipe line installation</td>
                                                                <td>Alrajhi Bank</td>
                                                              </tr>
                                                              <tr>
                                                                <td>2</td>
                                                                <td>1345678923</td>
                                                                <td>1000 SAR</td>
                                                                <td>19/12/2019</td>
                                                                <td>15/04/2020</td>
                                                                <td>Civil service dept. Riyadh</td>
                                                                <td>Pipe line installation</td>
                                                                <td>Alrajhi Bank</td>
                                                              </tr>
                                                              <tr>
                                                                <td>3</td>
                                                                <td>1345678923</td>
                                                                <td>1000 SAR</td>
                                                                <td>19/12/2019</td>
                                                                <td>15/04/2020</td>
                                                                <td>Civil service dept. Riyadh</td>
                                                                <td>Pipe line installation</td>
                                                                <td>Alrajhi Bank</td>
                                                              </tr>

                                                            </tbody>
                                                          </table>
                                                        </div>

                                                      </div>

                                                    </div>
                                                  </div>

                                                </div>
                                              </div>

                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </form>

                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                  <div class="kt-footer__copyright mt-20">
                    2019&nbsp;©&nbsp;Wthaq
                  </div>
                </div>
              </div>
              <!--New Design Here-->
            </div>
          </div>
          <!--===========================
                        End Content
                        ============================-->
        </div>
      </div>
    </div>
  </div>
  <!--begin::Global Theme Bundle(used by all pages) -->
  <script src="../../assets/js/plugins.bundle.js" type="text/javascript"></script>
  <!-- end::Body -->

</body>

</html>
