<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
  <meta charset="utf-8" />

  <title>WTHAQ | Login Page</title>
  <meta name="description" content="Updates and statistics">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!--begin::Global Theme Styles(used by all pages) -->
 <link href="../../assets/css/style.bundle.css" rel="stylesheet" type="text/css">
 <!--end::Global Theme Styles -->
 <!--begin::Layout Skins(used by all pages) -->
 <link href="../../assets/css/custom-style.css" rel="stylesheet" type="text/css">
 <!--end::Layout Skins -->
</head>
<!-- end::Head -->

<!-- begin::Body -->

<body class="login-bg" style="margin: 0;">
  <div class="container">
    <div class="row center-content">
      <div class="col-9 col-sm-9 col-md-4 margin-top-7">
        <div class="login-wrap">
          <div class="kt-portlet mt-5">
            <form class="kt-form kt-form--label-right" [formGroup]="submitLogin">
              <div class="kt-portlet__head"><span class="login-title">Login</span></div>
              <div class="kt-portlet__body login-body-wrap">
                <div class="form-group row">
                  <div class="col-12">
                    <label for="user-id" class="col-form-label">National identification Number</label>
                    <input class="form-control" type="text" value="" id="" formControlName="userId">
                    <div class="validation-errors text-danger">
                        <div *ngFor="let validation of validation_messages.userId">
                          <div col-12 class="error-message"
                            *ngIf="submitLogin.get('userId').hasError(validation.type) && (submitLogin.get('userId').dirty || submitLogin.get('userId').touched)">
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12">
                    <label for="password" class="col-form-label">Password</label>
                    <div class="password-input-field"  *ngIf="!togglePassView">

                      <input class="form-control" type="password" value="" id="password-field" formControlName="password">
                      
                    </div>
                    <div class="password-input-field" *ngIf="togglePassView">

                        <input class="form-control" type="text" value="" id="password-field" formControlName="password">

                    </div>
                    <div class="eye-image-wrap">
                      <img src="../../assets/images/view.png" alt="image" class="eye-image" id="pass-status" 
                      (click)="viewPassword()">
                    </div>
                    <div class="validation-errors text-danger">
                        <div *ngFor="let validation of validation_messages.password">
                          <div col-12 class="error-message"
                            *ngIf="submitLogin.get('password').hasError(validation.type) && (submitLogin.get('password').dirty || submitLogin.get('password').touched)">
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12">
                    <p>Don't have an account? <a routerLink="/privateEntityReg" class="blue-text pad-left-8">Signup</a></p>
                  </div>
                </div>
                <div class="kt-login__actions">
                  <div class="login-btn-wrap">
                    <button type="reset" class="btn btn-gry pull-left" (click)="resetForm()">Cancel</button>
                  
                     <button type="submit" class="btn btn-success pull-right"
                      (click)="onSubmit()"><img src="../../assets/images/login.png"
                        alt="login-icon" class="login-icon">Login</button> 

 


                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="text-center pt-4">
                  <p><a routerLink="/forgotPassword" class="blue-text pad-left-8">Forgot password?</a></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 <!--Modal-->
 
<!--begin::Global Theme Bundle(used by all pages) -->
<script src="js/plugins.bundle.js" type="text/javascript"></script>
<!--end::Page Vendors -->
<!--begin:;Show hide password-->
<script>
  function viewPassword() {
      var passwordInput = document.getElementById('password-field');
      var passStatus = document.getElementById('pass-status');

      if (passwordInput.type == 'password') {
          passwordInput.type = 'text';
          passStatus.className = 'eye-image1';

      } else {
          passwordInput.type = 'password';
          passStatus.className = 'eye-image';
      }
  }
</script>
<!--end:: Show hide password-->

</body>
<!-- end::Body -->

</html>