


<!-- <h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input matInput
                placeholder="Course Description"
               formControlName="description">
    </mat-form-field>
       
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>


-->

<div class="modal login-modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                   <h4 class="modal-title">Login</h4>
                      <button type="button" class="close"  (click)="warnlogout()"><img src="../../assets/images/close.png" alt="image">

                      </button>   
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    <div class="row">
                        <div class="col-md-12">

<div *ngIf="crnDetailsByNID?.length >0">
                            <form>
                                <div class="form-group margin-bottom-10">
                                    <label for="user-id" class="col-form-label">Search Commercial Registration Number</label>
                                    <div class="login-search-wrap margin-bottom-20">
                                        <div class="input-group search-wrap">
                                            <input class="form-control">
                                            <span class="input-group-append bg-white border-left-0">
                                                 <button class="input-group-text" type="submit">
                                                    <div class="srch-image-txt">
                                                       <img src="../../assets/images/magnifying-glass.png" class="search-icon" alt="search-icon">Search
                                                    </div>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                            </form>

                            <div class="terms-scroller">
                                <div class="new-blue-table">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Company name</th>
                                                    <th>CRN</th>
                                                    <th>Authority</th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let crnDetails of crnDetailsByNID">
                                                    <td>{{crnDetails[0]}}</td>
                                                    <td>{{crnDetails[1]}}</td>
                                                    <td>{{crnDetails[2]}}</td>
                                                    <td>{{crnDetails[3]}}</td>
                                                    <td><button  style="cursor:ponter"    (click)="redirectByStatus(crnDetails[0],crnDetails[4],crnDetails[5])" class="blue-link-button" ><u>Processed</u></button></td>
                                                </tr>
                                                

                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                               <!-- <mat-dialog-actions>
                                        <button class="mat-raised-button"(click)="logout()">Logout</button>
                                </mat-dialog-actions>
                            -->


                            </div>

</div>
<div *ngIf="crnDetailsByNID?.length < 1">
    <label for="user-id" class="col-form-label">Sorry! We could not find any CR number associated with you.</label>
    <button class="btn btn-primary button" type="button" (click)="logoutOnNoCRN()">
         Logout
      </button>
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>