<html lang="en">
<!-- begin::Head -->

<head>
  <meta charset="utf-8">

  <title>WETHAQ | Registration Page</title>
  <meta name="description" content="Updates and statistics">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--begin::Global Theme Styles(used by all pages) -->
<link href="../../assets/css/style.bundle.css" rel="stylesheet" type="text/css">
<!--end::Global Theme Styles -->
<!--begin::Layout Skins(used by all pages) -->
<link href="../../assets/css/custom-style.css" rel="stylesheet" type="text/css">
<!--end::Layout Skins -->
</head>
<!-- end::Head -->

<!-- begin::Body -->

<body>
  <div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
        <!--===========================
                Start Content
                ============================-->
        <div class="pt-0 kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
          <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <!--New Design Here-->
            <div class="row">
              <div class="col-12 col-sm-3 col-md-3 col-lg-3 left-panel-menu-wrap w-20 fixed-wrap">
                <div class="logo-wrap">
                  <a routerLink="/">
                    <img src="../../assets/images/wethaq.png" alt="logo">
                  </a>

                </div>
                <ul class="vertical-menu">
                </ul>
              </div>
              <div class="col-12 col-sm-9 col-md-9 col-lg-9 padding-null scroll-wrap">
                <div class="white-area"></div>
                <div class="grey-bg">
                  <section class="design-process-section" id="process-tab">
                    <div>
                      <div>
                        <div>
                          <div class="text-left1">
                            <h3 class="kt-login__title pt-3 m-0 mb-30">Private Entity Registration</h3>
                          </div>
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="discover">
                              <div class="design-process-content">
                                <form [formGroup]="submitBankDtl">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="pop-block" *ngIf="isShowAlertDiv">
                                      <div class="blue-block"><img src="../../assets/images/alert.png" alt="alert-icon"
                                          class="alert-icon"></div>
                                      <!-- <div *ngIf="isShowAlertDiv"> -->
                                        <p>{{commonService.alertMsgforRegistrationFinal}}</p>
                                      <!-- </div> -->
                                      <!-- <p>You have new cas requst 1234 from <span class="blue-text"><u>ABC
                                            company</u></span> waiting your approval</p> -->
                                      <div class="clearfix"></div>
                                    </div>
                                  </div>
                                  <div class="col-sm-12">
                                    <div class="kt-portlet">
                                      <div class="kt-portlet__head">
                                        <div class="kt-portlet__head-label">
                                          <h3 class="kt-portlet__head-title">Bank detail</h3>
                                        </div>
                                      </div>
                                      <!--begin::Form-->
                                      <div class="kt-form kt-form--label-right">
                                        <div class="kt-portlet__body">
                                          <div class="row">
                                            <div class="col-md-6">
                                              <div class="form-group margin-bottom-10">
                                                <label for="iban" class="col-form-label">IBAN </label>
                                                <input class="form-control col-md-9" type="text" value="" id="" formControlName="bi">
                                              </div>
                                            </div>
                                            <div class="col-md-6">
                                              <div class="form-group margin-bottom-10">
                                                <label for="bank-name" class="col-form-label">Bank Name
                                                </label>
                                                <select class="form-control col-md-9" formControlName="bankName">
                                                    <option>Select bank name</option>
                                                  <option *ngFor="let bank of bankList" >{{bank.bankName}}</option>
                                                </select>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                          <div class="row">
                                            <div class="col-12">
                                                <div class="pop-block red-block-wrap" *ngIf="isOpenValidationAlert">
                                                    <div class="red-block"><img src="../../assets/images/alert.png"
                                                        alt="alert-icon" class="alert-icon"></div>
                                                    <p> <b>Error Message</b> Validation failed</p>
                                                    <button class="dlete-btn-wrap"><img
                                                        src="../../assets/images/delete-button.png" alt="image"
                                                        class="delete-btn" (click)="closeAlert()"></button>
                                                    <div class="clearfix"></div>
                                                  </div>
                                              <button type="reset" class="btn btn-gry btn-margin-2" (click)="resetForm()">Cancel</button>
                                              <button type="button"
                                                class="btn btn-success btn-margin-2" [disabled]="isDisabledSubmitButton" (click)="postBankDetails()">Submit</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                                </div>
                              </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div class="kt-footer__copyright mt-20">
                  2019&nbsp;©&nbsp;WETHAQ
                </div>
              </div>
            </div>
            <!--New Design Here-->
          </div>
        </div>
        <!--===========================
                End Content
                ============================-->
      </div>
    </div>
  </div>
 <!--begin::Global Theme Bundle(used by all pages) -->
  <script src="../../assets/js/plugins.bundle.js" type="text/javascript"></script>
  <!--end::Page Scripts -->

  <!-- end::Body -->

</body>

</html>
