<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="privateEntityReg">Go to Private Registration Page</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="governmentEntityReg">Go to Government Registration Page</a>
      </li>
    </ul>
  </div>
</nav> -->

<!-- <app-login></app-login> -->


<router-outlet></router-outlet>
