<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
  <meta charset="utf-8" />

  <title>Wthaq | Forgot Password Page</title>
  <meta name="description" content="Updates and statistics">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--begin::Global Theme Styles(used by all pages) -->
  <link href="../../assets/css/style.bundle.css" rel="stylesheet" type="text/css">
  <!--end::Global Theme Styles -->
  <!--begin::Layout Skins(used by all pages) -->
  <link href="../../assets/css/custom-style.css" rel="stylesheet" type="text/css">
  <!--end::Layout Skins -->
</head>
<!-- end::Head -->

<!-- begin::Body -->

<body class="login-bg">
  <div class="container">
    <div class="row center-content">


      <div class="col-9 col-sm-9 col-md-4 margin-top-7">
        <div *ngIf="isOpenAlert">
            <div class="pop-block" >
                <div class="blue-block"><img src="../../assets/images/alert.png"
                    alt="alert-icon" class="alert-icon"></div>
                <p>An email with a new password has been sent to you.</p>
                <div class="clearfix"></div>
              </div>
        </div>

        <div class="login-wrap">
          <div class="kt-portlet mt-5">
            <form class="kt-form kt-form--label-right" [formGroup]="submitForgotPassword">
              <div class="kt-portlet__head"><span class="login-title">Forgot Password</span></div>
              <div class="kt-portlet__body login-body-wrap">
                <div class="form-group row">
                  <div class="col-12">
                    <label for="user-id" class="col-form-label">User ID</label>
                    <input class="form-control" type="text" value="" id="" formControlName="userIdForgotPass">
                    <div class="validation-errors text-danger">
                        <div
                          *ngFor="let validation of validation_messages.userIdForgotPass">
                          <div col-12 class="error-message"
                            *ngIf="submitForgotPassword.get('userIdForgotPass').hasError(validation.type) && (submitForgotPassword.get('userIdForgotPass').dirty || submitForgotPassword.get('userIdForgotPass').touched)">
                            {{ validation.message }}
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <!-- <div class="form-group row">
                                        <div class="col-12">
                                             <label for="password" class="col-form-label">Mobile No</label>
                                            <input class="form-control" type="password" value="" id="password-field" formControlName="mobileNo">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                             <label for="password" class="col-form-label">OTP</label>
                                            <input class="form-control" type="password" value="" id="password-field" formControlName="otp">
                                        </div>
                                    </div> -->
                <div class="kt-login__actions">
                  <div class="login-btn-wrap forget-btn-wrap">
                    <button type="reset" class="btn btn-gry pull-left" (click)="resetForm()">Cancel</button>
                    <button type="button" class="btn btn-success pull-right" (click)="onSubmit()">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--begin::Global Theme Bundle(used by all pages) -->
  <script src="../../assets/js/plugins.bundle.js" type="text/javascript"></script>
  <!--end::Page Vendors -->

</body>
<!-- end::Body -->

</html>
